/* Reset:
  ========================================================================== */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
html,
body {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #F5F5F5;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
img,
audio,
video {
  max-width: 100%;
  height: auto;
}
iframe {
  border: 0;
}
textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* Responsive media queries:
 ========================================================================== */
@font-face {
  font-family: "Inter900";
  /*Can be any text*/
  src: local("Inter-Black"), url("/public/fonts/Inter/Inter-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Inter800";
  /*Can be any text*/
  src: local("Inter-ExtraBold"), url("/public/fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter700";
  /*Can be any text*/
  src: local("Inter-Bold"), url("/public/fonts/Inter/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter600";
  /*Can be any text*/
  src: local("Inter-SemiBold"), url("/public/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter500";
  /*Can be any text*/
  src: local("Inter-Medium"), url("/public/fonts/Inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter400";
  /*Can be any text*/
  src: local("Inter-Regular"), url("/public/fonts/Inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter300";
  /*Can be any text*/
  src: local("Inter-Light"), url("/public/fonts/Inter/Inter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter200";
  /*Can be any text*/
  src: local("Inter-ExtraLight"), url("/public/fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Inter100";
  /*Can be any text*/
  src: local("Inter-Thin"), url("/public/fonts/Inter/Inter-Thin.ttf") format("truetype");
}
.calendar {
  padding: 20px 0;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 24px;
  border-radius: 0 0 24px 24px;
  border-right: 1px solid #9ABFE0;
  border-bottom: 1px solid #9ABFE0;
  border-left: 1px solid #9ABFE0;
  background: #EEF6FE;
  overflow: hidden;
}
.calendar__month {
  width: 100%;
  padding: 0 24px;
}
.calendar__month__innerContainer {
  width: 100%;
  display: flex;
  padding: 8px 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #8DA6BF;
  background: white;
  box-shadow: 0 4px 0 0 rgba(210, 227, 240, 0.65);
}
.calendar__month__arrow {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 20px;
  background: #084B83;
  cursor: pointer;
}
.calendar__month__arrow:active,
.calendar__month__arrow:hover {
  background: #3D87C5;
}
.calendar__month__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.calendar__month__title__icn svg {
  width: 16px;
  height: 16px;
}
.calendar__month__title p {
  color: #1F2C4E;
  font-family: Inter700, sans-serif;
  font-size: 16px;
}
.calendar__days {
  display: flex;
  width: 100%;
}
.calendar .swiper .transparentOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  background: linear-gradient(90deg, rgba(238, 246, 254, 0.8) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 70%, rgba(238, 246, 254, 0.8) 100%);
  box-shadow: 0 1px 8px 0 rgba(238, 246, 254, 0.75);
}
.calendar .swiper .swiper-wrapper .swiper-slide {
  width: 50px !important;
}
/*# sourceMappingURL=index.css.map */